* {
    margin: 0;
}

body {
    display: flex;
    background-image: url(../image/ShadowHalo.png), url(../image/background.PNG);
    background-repeat: repeat, repeat;
    background-size: auto, auto;
}

.projets {
    display: flex;
    flex-direction: column;
}



aside {

    color: aliceblue;
    background-color: rgba(0, 255, 255, 0);
    min-height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside img {
    width: 80%;
}

header {
    background-color: rgba(137, 43, 226, 0);
    min-height: 40vh;
    width: 50vw;
    display: flex;
    align-items: center;
}

header img {
    width: 90%;
}

#girl {
    background-color: rgb(36, 19, 59);
    min-height: 20vh;
    width: 100vw;
}

#girl img {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

a:link {
    color: lightgray;
}

a:visited {
    color: rgb(123, 66, 155);
    text-decoration: underline;
}

a:hover {
    color: rgb(226, 98, 158);
}

a {
    text-decoration: none;
    font-weight: 800;
    font-size: 200%;
}


#navP {
    text-decoration: none;
    font-size: 125%;
    font-weight: 600;
}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: rgba(255, 154, 154, 0);
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#nav1 {
    background-color: rgba(58, 43, 86, 0.577);
    min-height: 10vh;
    width: 100vw;
    color: aliceblue;
    font-size: 125%;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

main {
    background-color: rgba(58, 43, 86, 0.577);
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

main img {
    width: 32vw;

}

main img:hover {
    transform: scale(105%);
}

#aPropos {
    width: 100vw;
}

#aPropos img {
    width: 100vw;
}

footer {
    background-color: rgba(173, 216, 230, 0);
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;


}

footer img {
    width: 135px;
    height: 55px;
}

footer img:hover {
    transform: scale(85%);
}

.retour {
    min-height: 15vh;
    background-color: rgb(58, 43, 86, 0.577);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {

    /* Nouvelles règles si la fenêtre fait  1024px de large ou moins */
    body {
        background-image: url(../image/ShadowHalo.png), url(../image/background.PNG);
        background-repeat: repeat, repeat;
        background-size: auto, auto;
    }

    img {
        display: flex;
    }
}


@media all and (max-device-width: 500px)
/*pour le mobile on va utiliser le max-device-width car cela permet de cibler la largeur de l ecran */
    {
    body {
        background-image: url(../image/ShadowHalo.png), url(../image/background.PNG);
        background-repeat: repeat, repeat;
        background-size: auto, auto;
    }

    .ring {
        width: 50vw;
    }

    main {
        display: flex;
        justify-content: flex-start;

    }

    .retour {
        font-size: 50%;
    }

}